*{
  border: solid black 1px;
}

.main-content {
    background-image: url('../assets/home-banner.png');
    width: 1920px;
    height: 1080px;
    top: -3652px;
    left: -3840px;
  }
  
  .home-title-h2 {
    color: white;
    font-family: Roboto Condensed;
    font-size: 86px;
    font-weight: 300;
    line-height: 92px;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 20px;

  
  }
  
  .home-logo {
    width: 361.93px;
    height: 45.79px;
    top: 116.6px;
    left: 779.5px;
  }
  
  button {
    background-color: #FDC913;
    border: none;
    outline: none;
    color: #292929;
    font-family: Barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 50px;
    width: 193px;
    cursor: pointer;
    transition: .3s;
  }
  
  button:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
    background-color: #e4b304;
  
  }